[Unit]
 Description="Menu Translation with OpenAI"
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/mnalavadi/menu
 Type=idle
 ExecStart=/home/mnalavadi/.local/bin/uv run app
 User=mnalavadi

 [Install]
 WantedBy=multi-user.target
 